name: Deploy static files to s3 bucket

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


permissions:
  contents: read
  id-token: write

jobs:
  deploy_to_s3:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install AWS CLI
        uses: unfor19/install-aws-cli-action@v1
        with:
          version: 2
          verbose: false
          arch: x86  

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Upload files to S3
        run: |
          aws s3 cp . s3://project2.esthadevops.com/ --recursive 

      - name: Invalidate CloudFront cache
        uses: chetan/invalidate-cloudfront-action@v2
        with:
          distribution: EORB6RPYI1R7H
          paths: |
            $(git diff --name-only ${{ github.event.before }} ${{ github.sha }} | sed 's/^/\//')    

      #- name: Sync files to S3 bucket
      #  run: |
      #    aws s3 sync ./static-files s3://your-s3-bucket-name --delete